<div class="mb-20" fxLayout="column" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <mat-form-field>
    <input matInput placeholder="Username" [formControl]="username" required>
    <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Role" [formControl]="role" required>
      <mat-option value="1">Normal</mat-option>
      <mat-option value="2">Admin</mat-option>
    </mat-select>
    <mat-error *ngIf="role.invalid">{{getRoleErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
