<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Account Creation Over Time</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <canvas
                baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
              ></canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>
