<h2 class="mat-h1">System Overview</h2>
<app-charts></app-charts>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <app-stat [bgClass]="'danger'" [count]="13" [label]="'New users this month'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'warn'" [count]="12" [label]="'Total logins this month'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'success'" [count]="124" [label]="'Total users'"></app-stat>
    </div>
</div>
