<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/home']">
            <mat-icon class="sidenav-icon">home</mat-icon> Home
        </a>
        <a mat-list-item [routerLinkActive]="'active'" (click)="openDialog('create')">
            <mat-icon class="sidenav-icon">add</mat-icon> Create user
        </a>
        <a mat-list-item [routerLinkActive]="'active'" (click)="openDialog('edit')">
            <mat-icon class="sidenav-icon">edit</mat-icon> Edit user
        </a>
        <a mat-list-item [routerLinkActive]="'active'" (click)="openDialog('delete')">
            <mat-icon class="sidenav-icon">delete</mat-icon> Delete user
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/users-overview']">
            <mat-icon class="sidenav-icon">people</mat-icon> Users overview
        </a>
    </mat-nav-list>
</div>
