<div fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px" mat-toolbar>
  <div fxFlex>
    <h1 mat-dialog-title>{{title}}</h1>
  </div>
  <div fxFlexAlign="right">
    <button mat-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content>
  <div *ngIf="checkContent('create')">
    <app-dialog-create (event)="onYesClick($event)"></app-dialog-create>
  </div>
  <div *ngIf="checkContent('edit')">
    <app-dialog-edit></app-dialog-edit>
  </div>
  <div *ngIf="checkContent('delete')">
    <app-dialog-delete></app-dialog-delete>
  </div>
</div>

<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px" mat-dialog-actions>
  <div fxFlexAlign="right">
    <button mat-button color="primary" (click)="onYesClick()">Ok</button>
    <button mat-button color="accent" (click)="onNoClick()">Cancel</button>
    <button mat-button color="warn" *ngIf="checkIfAvaiable()">Clear</button>
  </div>
</div>
